/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
    padding: 0 10px;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
  }
  
  [class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
  }
  
  @for $num from 2 through 12 {
    .col-#{$num} {
      @include grid;
      @if map-has-key($themes, #{$num}) {
        &.theme_col {
          background-color: map-get($themes, #{$num});
        }
      }
    }
  }
  
  .card {
    flex-basis: 100%;
  }